html,body {
  height: 100%;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  height:100%;
  background-color:#006666;
  color:#e6ffff;
  overflow:hidden;
  text-align: center;
  padding: 20px;
}

.container h1 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #DDCCEE;
  margin-top: 80
}

.container input {
    width: 350px;
    height: 15px;
    font-size: 15px;
    margin: 2px;
    padding: 20px;
    transition:  all 0.2s ease-in-out;

}
.containter select{
  width: 250px;
  height: 15px;
  
  margin: 2px;
  float: center;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  color: black;
}

.container select option:checked {
  color: black;
}

.form {
  text-align: center;
  margin: 30px;
}


select{
  width: 250px;
  height: 15px;
  font-size: 15px;
  margin: 2px;
  float: center;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  color: black;
}

select option:checked {
  color: bl;
}


.go-button {
  width: 280px;
  height:40px;
  background-color: steelblue;
  border: 2;
  border-color: gray;
  margin: 3px;
}

.plantext {
  margin: 0 auto;
  width: 100%;
  height:100%;
  background-color:#006666;
  color:#e6ffff;
  overflow:hidden;
  text-align: center;
  padding: 20px;
}