<!DOCTYPE html>
<html lang=en>
    <title>OSFrog Stats</title>
    <head>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" href="../static/frog.ico">
        <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
            rel="stylesheet" type="text/css">
        <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
            rel="stylesheet" type="text/css">

        <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
         <script src="../static/js/jquery-3.2.1.min.js"></script>
        <script src="../static/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="../static/js/bootstrap.js"></script>

        <style>
            .scrollable-pane{
                width: 100%;
                overflow-x: auto;

            }
        </style>
    </head>
        <body>

            <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">OSfrog Stats</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/lb">Leaderboard</a></li>
                    <li><a href="/raw">Raw data</a></li>


                </ul>
                <!--    <p class="navbar-text navbar-right">Signed in as: {{ usr }}</p>-->
                </div><!-- /.navbar-collapse -->
                
            </div><!-- /.container-fluid -->
            </nav>
    <div class="container-fluid">           

    {% block content %}{% endblock %}

    </div>
        </body>
</html>